<% provide :title, t("help.title") %>
<h1><%= t("help.help") %></h1>
<p><%= t("help.get_help") %>
  <%= link_to( t("help.help_page"), "http://www.railstutorial.org/help").html_safe %>.
  <%= t("help.tutorial") %>
  <em> <%= link_to( t("help.tutorial_page"), "http://www.railstutorial.org/book").html_safe %>.<em/>
</p>
